<!DOCTYPE HTML>
<html>
	<head>
		<title>Schat</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="stylesheets/ie/html5shiv.js"></script><![endif]-->
		<script src="javascripts/jquery.min.js"></script>
		<script src="javascripts/jquery.scrolly.min.js"></script>
		<script src="javascripts/jquery.poptrox.min.js"></script>
		<script src="javascripts/skel.min.js"></script>
		<script src="javascripts/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="stylesheets/skel.css" />
			<link rel="stylesheet" href="stylesheets/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="stylesheets/ie/v8.css" /><![endif]-->
	</head><div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <h2>Sign up</h2>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, autofocus: true %></div>

	  <div><%= f.label :password %><br />
	    <%= f.password_field :password, autocomplete: "off" %></div>

	  <div><%= f.label :password_confirmation %><br />
	    <%= f.password_field :password_confirmation, autocomplete: "off"%></div>

	  <div><%= f.submit "Sign Up", :class => "button style2 scrolly scrolly-centered" %></div>
	<% end %>

	<br> <br>
	<br><br>

	<h2>Sign in</h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, autofocus: true %></div>

	  <div><%= f.label :password %><br />
	    <%= f.password_field :password, autocomplete: "off" %></div>

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end -%>

	  <div><%= f.submit "Sign in" %></div>
	<% end %>
  <% end %>
</div>
</html>
